    <div class="row">
      <div class="col-sm-5 copyright">
        <p>
          Copyright &copy; 2018 Azmarie W
        </p>
      </div>
      <div class="col-sm-2 top">
        <span id="to-top">
          <fa-icon [icon]="faChevronUp" class="fa-icon" aria-hidden="true"></fa-icon>
        </span>
      </div>
      <div class="col-sm-5 social">
        <ul>
          <li>
            <a href="https://github.com/Azmarie" target="_blank">
              <fa-icon [icon]="faGithub" class="fa-icon" aria-hidden="true"></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/azmarie-yuxin-wang/" target="_blank">
              <fa-icon [icon]="faLinkedin" class="fa-icon" aria-hidden="true"></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/azmarie_yx/" target="_blank">
              <fa-icon [icon]="faInstagram" class="fa-icon" aria-hidden="true"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
