<div class="nav">
  <ul class="nav-list">
     <li class="nav-list-item"  (click)="onClick('home')">
       <a class="nav-list-item-text" href="#about">About Me</a>
     </li>
     <li class="nav-list-item"  (click)="onClick('projects')">
       <a class="nav-list-item-text" href="#">Projects</a>
     </li>
     <li class="nav-list-item"  (click)="onClick('gallery')">
       <a class="nav-list-item-text" href="#">Gallery</a>
     </li>
     <li class="nav-list-item"  (click)="onClick('home')">
       <a class="nav-list-item-text" href="#contact">Contact</a>
     </li>
 </ul>
</div>