<div class="nav">
  <ul class="nav-list">
     <li class="nav-list-item" (click)="onAnchorClick()" >
       <a class="nav-list-item-text" routerLink="/home" fragment="about">About Me</a>
     </li>
     <li class="nav-list-item"  (click)="onClick('projects')">
       <a class="nav-list-item-text" routerLink="/projects">Projects</a>
     </li>
     <li class="nav-list-item"  (click)="onClick('gallery')">
       <a class="nav-list-item-text" routerLink="/gallery">Gallery</a>
     </li>
     <li class="nav-list-item"  (click)="onAnchorClick()">
       <a class="nav-list-item-text" routerLink="/home" fragment="contact">Contact</a>
     </li>
     <!-- <li class="nav-list-item"  (click)="onClick('blog')">
      <a class="nav-list-item-text" routerLink="/blogs">Blog</a>
    </li> -->
 </ul>
</div>