<div class="lead">
    <div class="projects container">
      <div class="row no-gutters">
        <div class="col-lg-6">
          <div class="portfolio-item">
            <span class="caption newsrepo">
              <span class="caption-content">
                <img class="project-logo" src="/assets/newsrepo-logo.png" alt="NewsRepo">
                <p>A technology News site built in React</p>
                <div class="showonhover">
                  <a href="https://github.com/Azmarie/NewsRepo" target="_blank">View Project</a>
                  <a href="https://newsrepo.herokuapp.com/" target="_blank">View Live Demo</a>
                </div>
              </span>
            </span>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="portfolio-item">
            <span class="caption studygroup">
              <span class="caption-content">
                <img class="project-logo" src="/assets/mystudygroup-logo.png" alt="MyStudyGroup">
                <p>Provide a platform for students to find a study group nearby.</p>
                <div class="showonhover">
                  <a href="https://github.com/Azmarie/mystudygroup" target="_blank">View Project</a>
                  <a href="https://mystudygroup.herokuapp.com/" target="_blank">View Live Demo</a>
                </div>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="row no-gutters">

        <div class="col-lg-6">
          <div class="portfolio-item">
            <span class="caption tictactoe">
              <span class="caption-content">
                <img class="project-logo" src="/assets/tictactoe-logo.png" alt="tictactoe">
                <p>Implemented in React. Allow players to jump back in time to see older versions of the game board.</p>
                <div class="showonhover">
                  <a href="https://github.com/Azmarie/tic-tac-toe" target="_blank">View Project</a>
                </div>
              </span>
            </span>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="portfolio-item">
            <span class="caption lumohacks">
              <span class="caption-content">
                <img class="project-logo" src="/assets/lumohacks-logo.png" alt="lumohacks">
                <p>Lumohacks Offcial Website</p>
                <div class="showonhover">
                  <a href="http://www.lumohacks.com/" target="_blank">View Live Demo</a>
                </div>
              </span>
            </span>
          </div>
        </div>
      </div>
      </div>
</div>