<div class="lead">

  <div class="container gallery-container">

    <div class="tz-gallery" id="Photography">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img1.jpg">
            <img src="/assets/img1.jpg" alt="img">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img3.jpg">
            <img src="/assets/img3.jpg" alt="img">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img4.jpg">
            <img src="/assets/img4.jpg" alt="img">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img5.jpg">
            <img src="/assets/img5.jpg" alt="img">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img6.jpg">
            <img src="/assets/img6.jpg" alt="img">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img7.jpg">
            <img src="/assets/img7.jpg" alt="img">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img9.jpg">
            <img src="/assets/img9.jpg" alt="img">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img2.jpg">
            <img src="/assets/img2.jpg" alt="img">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="/assets/img8.jpg">
            <img src="/assets/img8.jpg" alt="img">
          </a>
        </div>
      </div>
    </div>

    <div class="tz-gallery" id="design">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <a class="portrait" href="/assets/design1.jpg">
            <img src="/assets/design1.jpg" alt="design">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="portrait" href="/assets/design2.jpg">
            <img src="/assets/design2.jpg" alt="design">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="portrait" href="/assets/design3.jpg">
            <img src="/assets/design3.jpg" alt="design">
          </a>
        </div>
        <div class="col-sm-3 col-md-6">
          <a  class="postcard" href="/assets/design4.png">
            <img src="/assets/design4.png" alt="design">
          </a>
        </div>
        <div class="col-sm-3 col-md-6">
          <a  class="postcard" href="/assets/design5.png">
            <img src="/assets/design5.png" alt="design">
          </a>
        </div>
      </div>
    </div>

    <div class="tz-gallery" id="modeling">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <a class="vfw" href="/assets/mo1.jpg">
            <img src="/assets/mo1.jpg" alt="VFW">
          </a>
        </div>
        <div class="col-sm-12 col-md-4">
          <a class="vfw" href="/assets/mo2.jpg">
            <img src="/assets/mo2.jpg" alt="VFW">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="vfw" href="/assets/mo3.jpg">
            <img src="/assets/mo3.jpg" alt="VFW">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>