// Define base and accent colors
$base-color: #b6e7a6;
$base-color-hover: darken($base-color, 10%);
$base-color-dark: darken($base-color, 55%);

// Define background colors
$background: #fff;
$background-alt: #f2f2f5;

// Define border colors
$border: #dcd9d9;

// Define text colors
$heading: #374054;
$text: #74808a;

/*
---------------------------
----- Lead Styles -----
---------------------------
*/

.lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url(/assets/lead-bg.jpg);
  background-size: cover;
  overflow: scroll;
  overflow-y: scroll;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: $base-color-dark;

  span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid $base-color-dark;
    text-align:center;
  }

  fa-icon {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*
---------------------------
----- About Styles -----
---------------------------
*/

#about {
  padding: 80px 15px;
  border-bottom: 1px solid $border;
  background-color: $background-alt;

  a {
    color: #4b982d;
  }
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;

  &:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: $base-color;
  }
}

/*
-------------------------------
----- Contact Styles -----
-------------------------------
*/

#contact {
  padding: 50px 15px;
  background: $base-color;
  text-align: center;
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;

  input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: darken($base-color, 15%);
    color: #fff;

    &:focus {
      outline: none;
      background: darken($base-color, 25%);
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: $base-color-dark;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
}
